@import "shared/global"
@import "shared/common"
@import "shared/general"

#home
  h1
    font-size: 24px
    text-align: center
    padding: 10px 0
  .posts
    background: #fff
    border: solid 1px #ccc
    border-radius: 5px
    .article
      padding: 10px 20px
      border-bottom: 1px solid #ccc
      .title
        font-size: 20px
        color: #4078c0
        font-weight: bold
    .article:last-child
      border-bottom: none
    .date
      color: #ccc
      font-size: 12px
